* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Covered By Your Grace', cursive;
  font-family: 'Indie Flower', cursive;
  font-family: 'Pacifico', cursive;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Rock Salt', cursive;

}

body {
  background-color: #FFE8E1;
  background-image: url(/lined-paper-2.png);
  padding: 0 16px;
}



header {
  padding: 16px 32px;
  padding-left: 10px;
  top: 0;
  width: 500px;
  margin-top: 0;
  margin: auto;

}


.title-header {
  color: #24211f;
  font-family: 'Rock Salt', cursive;
  right: 25%;

}


.highlight {
  position: relative;
}

.highlight:before {
  background-color: #c47d5a8a;
  content: "";
  position: absolute;
  width: 195px;
  height: 85%;
  bottom: 0;
  z-index: -1;
  transform: rotate(-2deg);

}

footer {
  position: fixed;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
  background-color: #FFE8E1;
  height: 2.5rem;
  font-family: 'Readex Pro', sans-serif;

}

footer p {
  color: #86340A;
}


/* Note */
.note {
  min-width: 235px;
  min-height: 235px;
  max-width: 500px;
  padding: 35px;
  margin: 50px 22px 44px 22px;
  position: relative;
  font-size: 24px;
  float: left;
  font-family: 'Covered By Your Grace', cursive;
  color: #4b453c;
  background: #F7E999;
  line-height: 34px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.note:before {
  display: block;
  content: "";
  background: rgba(227, 200, 114, 0.40);
  min-width: 130px;
  width: 55%;
  height: 28px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 6px/18px 0;
  position: absolute;
  top: -13px;
  left: 25%;

}

.note:after {
  color: #233567;
  text-decoration: none;
  font-size: 20px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;


}

.note:hover {
  background-color: #e4b831;
  transition: transform .1s;
  transform: scale(1.1);
  z-index: 1;
  color: #f3f3f3;

}


.note h1 {
  margin-bottom: 10%;
  text-align: left;
  overflow-wrap: break-word;
  margin-right: 50px;
  position: relative;
  top: 35px;

}

.note p {
  font-size: 1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
  color: rgb(92, 89, 89);
  margin-top: 7%;

}

.note p:hover{
  color: #f3f3f3;
}



/* calendar*/
.calendar{
  position:absolute;
  top: 20px;
  right: 5px;
  opacity: 0.55;
  font-family: 'Readex Pro', sans-serif;
font-size: 15px;
}


/* complete-button */
.note-button {
  position: absolute;
  bottom: 5px;
  right: 10px;

}
.complete-button {
  position: relative;
  overflow: hidden;
  border: 1px solid #f8443028;
  border-radius: 5px;
  color: #fbdfdf;
  font-size: 10px;
  line-height: 15px;
  padding: 6px 6px 5px;
  width: 60px;
  height: 36px;
  text-decoration: none;
  cursor: pointer;
  background: #f8443083;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: 1px 1px 5px rgb(217, 150, 150), 0 15px 90px 30px rgba(193, 189, 126, 0.451);
  z-index: 0;
}

.complete-button span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.complete-button span:last-child {
  color: rgb(203, 96, 96);
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 25%;
  line-height: 13px;
}

.complete-button:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.736);
  text-align: center;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.complete-button:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.complete-button:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}


/* CreateArea */
form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 20px;
  resize: none;
  font-family: 'Readex Pro', sans-serif;
}

form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #dfa899;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0 1px 3px rgba(106, 104, 84, 0.3);
  cursor: pointer;
  outline: none;
}

/* Time on task */

#timer {
  width: fit-content;
  padding: 20px;
  padding-top: 45px;
  margin: 50px auto 60px;
  position: relative;
  background-color: #f3f3f3;
  font-family: 'Readex Pro', sans-serif;
  box-shadow: 1px 1px 5px rgba(214, 192, 192, 0.097), 0 15px 90px 30px rgba(200, 166, 176, 0.252);
border-radius: 20px;
}

#timer h3 {
  font-size: 20px;
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0;
  text-align: center;
  padding: 0 10px;
  text-transform: uppercase;
  color: #272e38;
}

#timer .timeonTask {
  text-align: center;
  padding: 20px;
  border-radius: 6px;
  position: relative;
  height: 160px;
  background-color: #142942;
  color: rgba(241, 232, 232, 0.889);
  /* color: #913535; */
  /* background-color: #ec9c9c; */
  box-shadow: 0 1px 1px rgba(42, 40, 40, 0.08) inset, 0 1px 1px #ffffff9d;
  width: fit-content;
}

#timer .clock-container {
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 5px;
  padding: 20px 20px;
  box-shadow: 1px 1px 5px rgba(196, 191, 191, 0.15), 0 15px 90px 30px rgba(103, 105, 80, 0.164);
  display: flex;
  width: fit-content;
  position: relative;

}

#timer .clock-col {
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  min-width: 70px;
  position: relative;
}


#timer .clock-col:not(:last-child):before,
#timer .clock-col:not(:last-child):after {
  content: "";
  background-color: rgb(245, 226, 226);
  height: 3px;
  width: 3px;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: -11px;
}

#timer .clock-col:not(:last-child):before {
  top: 35%;
}

#timer .clock-col:not(:last-child):after {
  top: 50%;
}

#timer .clock-timer:before {
  color: #fff;

  font-size: 4.2rem;
  text-transform: uppercase;
}

#timer .clock-label {
  color: rgb(243, 211, 211);
  /* color: #913535; */

  text-transform: uppercase;
  font-size: .7rem;
  margin-top: 10px;
}

#timer .timeonTask button {
  position: relative;
  float: center;
  margin-right: 10px;
  color: #0e2448;
  border: 2px solid;
  border-radius: 20px;
  margin-top: 7px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 1px 5px rgba(195, 164, 164, 0.097), 0 15px 90px 30px rgba(247, 206, 218, 0.244);

}

#timer .timeonTask button:hover {
  color: #913535;
  transition: transform .05s;
  transform: scale(1.95);
  z-index: 1;
}